  <!--Footer Start-->
  <footer class="footer bg-black bg-style wow fadeInUp" *ngIf="footer.visible">
    <div class="container">
      <div class="footer-upper">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="footer-widget about-widget"> <a href="#"> <img alt="" src="../../../../assets/images/logo2.png"> </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean urna magna, mattis at ullamcorper in, pharetra in lorem. Etiam mollis.</p>
              <div class="readmore"><a href="#">Read More </a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
            <div style="margin-left: 45%; margin-top: 45%;" class="footer-widget quick-links">
              <h3 class="title">Quick links</h3>
              <ul>
                <li><a href="#."> Home</a> </li>
                <li><a href="#."> Properties</a> </li>
                <li><a href="#."> Agents</a> </li>
                <li><a href="#."> Blogs</a> </li>
                <li><a href="#."> Contact Us</a> </li>
              </ul>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-4">
            <div style="margin-left: 45%; margin-top: 45%;" class="footer-widget contact">
              <h3 class="title">Contact Info</h3>
              <ul class="footer-adress">
                <li class="footer_address"> <i class="fas fa-map-signs"></i> <span>123 Lorem Ipsum, 45 sit Atlanta</span> </li>
                <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span><a href="mailto:info@realestate.com"> info@realestate.com </a></span> </li>
                <li class="footer_phone"> <i class="fas fa-phone-alt"></i> <span><a href="tel:7704282433"> 770-123-4567</a></span> </li>
              </ul>
              <div class="social-icons footer_icon">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer End--> 