<form [formGroup]="questionForm" (ngSubmit)="createEssay()">

<div class="form-outline mb-4 p-1 mt-3 ">
  <label class="form-label mx-3 " for="difficulty">Question Difficulty</label>
  <select name="difficulty" id="difficulty" formControlName="questionDifficulty">
      <option value="EASY">EASY</option>
      <option value="MODERATE">MODERATE</option>
      <option value="HARD">HARD</option>
  </select>
</div>
<div class="form-outline mb-4">
  <label class="form-label">Question Title</label>

      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="questionTitle"></textarea>

</div>
<div class="form-outline mb-4">
  <label class="form-label" for="form3Example4cdg">Question Weight</label>
  <input type="text" id="weight" class="form-control form-control-lg" required
      formControlName="questionWeight" />
</div>
<div class="mt-3">
    <label class="form-label" >Answer</label>

    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="correctAnswer"></textarea>
</div>
<button class="btn btn-primary   mt-3" type="submit">Create</button>
<div class=" "style="visibility:hidden;">
  <label class="form-label px-1" >Question Type</label> 
  <select  formControlName="questionType"  [(ngModel)]="defaultValue">
      <option value="mcq" >MCQ</option>
      <option value="true or false" selected>TRUE OR FALSE</option>
      <option value="essay">ESSAY</option>
    </select>
</div>
</form>
