
<!--slider start-->
<div class="slider-wrap wow fadeInUp ">
  <div class="container">
    <div class="sliderTxt" style="margin-left: 20%;">
      <h1>Learning For Everyone </h1>
      <p>Suitable Online Assessment Website For Everyone </p>
      <div id="exTab1" class="container">
        <ul  class="nav nav-pills " style="margin-left:45%">
          <li> <a style="text-decoration: none;" href="signupformstudent" class="btn " data-toggle="tab">Sign Up</a> </li>
          <li><a style="text-decoration: none;" href="signin" class="btn " data-toggle="tab">Sign In</a> </li>
        </ul>
        <div class="tab-content clearfix">
          <div class="tab-pane active" id="1a">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<!--slider end--> 
<div class="property-wrap wow fadeInUp">
    <div class="container">
      <div class="title">
        <h1> </h1>
      </div>
      
      <!--Row Start-->
      <ul class="row">
        <!--col-lg-4 Start-->
        <li class="col-lg-4">
          <div class="property_box wow fadeInUp">
            <div class="propertyImg"><img alt="" src="images/propertyImg01.jpg"></div>
            <h3><a style="text-align: center;"> 
                Online examination system
            
            <ul>
                <li class="p-1">scalable and feature rich system</li>
                <li class="p-1">best fit for entrance/weekly/semester Exams</li>
                <li class="p-1">service across any organization</li>
                <li><br></li>
                    <li><br></li>
                    <li><br></li>
                    <li><br></li>
            </ul></a></h3>
           
            
          </div>
        </li>
        <!--col-lg-4 End--> 
        
        <!--col-lg-4 Start-->
        <li class="col-lg-4">
            <div class="property_box wow fadeInUp">
              <div class="propertyImg"><img alt="" src="images/propertyImg01.jpg"></div>
              <h3><a style="text-align: center;"> 
                AI based correction
              
                <ul>
                    <li class="p-1">Fast and reliable correction</li>
                    <li class="p-1">supports different interactions voice or text</li>
                    <li class="p-1">Anti cheat feature</li>
                    <li class="p-1">secure browser for high stake exams</li>
                    <li><br></li>
                    <li><br></li>
                    <li><br></li>
                    <li><br></li>
                </ul></a></h3>
             
              
            </div>
          </li>
        
        <!--col-lg-4 End--> 
        
        <!--col-lg-4 Start-->
        <li class="col-lg-4">
            <div class="property_box wow fadeInUp">
              <div class="propertyImg"><img alt="" src="images/propertyImg01.jpg"></div>
              <h3><a style="text-align: center;"> 
                Handicap support
              
                  <ul>
                    <li class="p-1">Fast and reliable correction</li>
                    <li class="p-1">supports different interactions voice or text</li>
                    <li class="p-1">Anti cheat feature</li>
                    <li class="p-1"> secure browser for high stake exams</li>
                    <li><br></li>
                    <li><br></li>
                    <li><br></li>
                    <li><br></li>
                </ul></a></h3>
             
              
            </div>
          </li>
        <!--col-lg-4 End-->
      </ul>
      <!--Row End--> 
      
    </div>
  </div>
  <!--Properties End--> 
  <section class="p-5 " >
    <div class="container">
        <div class="row allign-items-center justify-content-between">
            <div class="col-md">
                <img src="assets/images/RS8751_GettyImages-1072206958.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md p-5">
                <h1>Simple to learn</h1>
                <h3 class="lead">
                   One stop solution for online examination and assessment. It would solve all your problems in preparation for the exam. The platform is effortless to use and transmit information
                </h3>
            </div>
        </div>
    </div>
   </section>
   <section class="p-5 bg-black text-light" >
       <div class="container">
           <div class="row allign-items-center justify-content-between">
               <div class="col-md pt-5">
                   <h1>Interactive Interface</h1>
                   <h3 style="color: white; font-weight:400;" class="lead">
                       Easy registration, click away tricks, and simple test creation. Signing in and concurring. Safe data encrypted information.                    </h3>
               </div>
               <div class="col-md p-5">
                  <img src="assets/images/interactive.png" alt="" class="img-fluid">
               </div>
           </div>
       </div>
      </section>
      <section class="p-5 " >
       <div class="container">
           <div class="row allign-items-center justify-content-between">
               <div class="col-md">
                   <img src="assets/images/customer-service.jpg " class="img-fluid">
               </div>
               <div class="col-md p-5">
                   <h1>Exception Support</h1>
                   <h3 class="lead">
                       We offer exceptional support to your request. Our dedicated professionals work round the clock to work on your queries. 
                    </h3>
               </div>
           </div>
       </div>
      </section>
    