<form [formGroup]="trueFalseForm" (ngSubmit)="editQuestion()">
    
    <div class="form-outline mb-4 p-2">
        <div class="form-outline mb-4 p-1 mt-3 ">
            <label class="form-label" for="difficulty">Question Difficulty</label>
            <select  formControlName="questionDifficulty">
                <option value="EASY">EASY</option>
                <option value="MODERATE">MODERATE</option>
                <option value="HARD">HARD</option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label">Question Title</label>
            <input type="text" id="Title" class="form-control form-control-lg" formControlName="questionTitle"
                required />

        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4cdg">Question Weight</label>
            <input type="text" id="weight" class="form-control form-control-lg" required
                formControlName="questionWeight" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="option1">Option1</label>
            <input type="text" id="option1" class="form-control form-control-lg" formControlName="Answer_1" required />
        </div>
        <div class="mt-3">
            <label class="form-label" for="option1">Correct Answer</label>
            <select name="answer" id="answer" formControlName="correctAnswer">
                <option value="TRUE">TRUE</option>
                <option value="FALSE">FALSE</option>

            </select>
        </div>
        <button class="btn btn-primary btn-lg text-light btn-block" type="submit">SAVE</button>
    </div>
</form>