<!-- <div >
    <form class="d-flex flex-column "[formGroup]="createExamForm" (ngSubmit)="createexam()">
<mat-form-field appearance="fill" class="w-25">
    <mat-label>Exam Name </mat-label>
    <input matInput formControlName="examName">
</mat-form-field >
<mat-form-field appearance="fill" class="w-25">
    <mat-label>Description </mat-label>
    <input matInput formControlName="description">
</mat-form-field >
<mat-form-field appearance="fill" class="w-25">
    <mat-label>Number of attempts </mat-label>
    <input type="number" matInput formControlName="numberOfAttempts">
</mat-form-field>
<mat-form-field appearance="fill" class="w-25">
    <mat-label>Duration </mat-label>
    <input matInput formControlName="duration">
</mat-form-field>
<mat-form-field appearance="fill" class="w-25">
    <mat-label>Start Time  </mat-label>
    <input matInput formControlName="startTime">
</mat-form-field>
<mat-form-field appearance="fill" class="w-25">
    <mat-label>End Time   </mat-label>
    <input matInput formControlName="endTime">
</mat-form-field>
<button type="submit" mat-raised-button class=" w-25 btn btn-primary">Primary</button>
<h3 *ngIf="examCreationDone">Exam Successfully Created ! </h3>
</form>
</div> -->
