 <div class="row"></div>
 <div class="row"></div>
 <div class="row"></div>
 <div class="row"></div>
 <div class="row"></div>
<div class="container my-5">
    <h1>Instructions : </h1>
    <ul>
        <li><h2>To navigate to the next question, press, the right arrow key</h2></li>
        <li><h2>To navigate to the previous question, press, the left arrow key</h2></li>
        <li><h2> listen to the question you are in, press, space</h2></li>
        <li><h2>To answer an essay question, first, press, the arrow up button to activate the mic, second, answer the question with your voice, third, press, the arrow down button</h2></li>
        <li><h2>To answer a multiple-choice question, use the number 1 button, for the first answer, the number 2 button, for the second answer, the number 3 button, for the third answer, the number 4 button,for the fourth answer.</h2></li>
        <li> <h2> stop any instruction while you are listening to it, press, escape button</h2></li>
        <li> <h2>to listen to the instructions again during the exam, press, the shift button</h2></li>
        <li> <h2> start the exam, press, the number zero button.</h2></li>
      </ul>  
      <div class="d-flex justify-content-between">
     <a class="btn btn-primary my-3" [routerLink]="['/examPage',EID,ExID]"> Go To Exam</a>
     <div class="col-6"></div>
    </div>
</div>