<form [formGroup]="questionForm"(ngSubmit)="createQuestions()">
    <div class="form-outline mb-4 p-2">
        <label class="form-label px-1" >Question Type</label> 
        <select  formControlName="questionType" [(ngModel)]="defaultValue">
            <option value="mcq" selected>MCQ</option>
            <option value="truefalse">TRUE OR FALSE</option>
            <option value="essay">ESSAY</option>
          </select>
    </div>
  <div class="form-outline mb-4 p-1 mt-3 ">
    <label class="form-label" for="difficulty" >Question Difficulty</label>
    <select  id="difficulty" formControlName="questionDifficulty">
        <option value="EASY">EASY</option>
        <option value="MODERATE">MODERATE</option>
        <option value="HARD">HARD</option>
      </select>
  </div>
  <div class="form-outline mb-4">
    <label class="form-label"  >Question Title</label>
      <input type="text" id="Title" class="form-control form-control-lg" formControlName="questionTitle"   required />
      
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example4cdg">Question Weight</label>
  <input type="text" id="weight" class="form-control form-control-lg"  required formControlName="questionWeight"/>
  </div>
  
  <div class="form-outline mb-4">
  <label class="form-label" for="option1">Option1</label>
  <input type="text" id="option1" class="form-control form-control-lg" formControlName="Answer_1"   required />
  
  </div>
  <div class="form-outline mb-4">
  <label class="form-label" for="option1">Option2</label>
  <input type="text" id="option2" class="form-control form-control-lg" formControlName="Answer_2"   required />
  
  </div>
  <div formArrayName="answers" class="form-outline mb-4">
  <ng-container *ngFor="let answer of refForm.controls;index as i">
    <label class="form-label" for="option1">Option{{i+3}}</label>
    <input type="text" id="option2" class="form-control form-control-lg" placeholder="test "  formControlName="{{i}}" required />
  </ng-container>
  <button (click)="addOpition()"> add opotions</button>
  </div>
  
   <div class="form-outline mb-4">
  <label class="form-label" for="option1">Correct Answer</label>
  <input type="text" id="CorrectAnswer" class="form-control form-control-lg" formControlName="correctAnswer"   required />
  
  </div>
  <button class="btn btn-primary  m-3" type="submit"  >CREATE</button>
  </form>